@import url('typography.css');

/* SITE-WIDE */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

img, 
video {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #000;
}

/* HEADER, NAV */
header {
  max-width: 1200px;
  margin: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -12px;
  background-color: #000;
}

header nav a {
  text-decoration: none;
}

/* MAIN */
main {
  max-width: 1200px;
  margin: auto;
}

.project:first-child {
  margin-top: 25px;
}

.project {
  margin-bottom: 40px;
}

.project ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.grid section {
  padding-top: 20px;
}

.project img {
  margin-bottom: 0.7rem;
}
.project video {
  margin-bottom: 1rem;
}

footer {
  margin: 72px auto 0px;
  max-width: 1200px;
  text-align: justify;
  height: 30vh
}

@media(min-width: 900px) {
  .project {
    margin-bottom: 80px;
  }

  .grid section {
    padding-top: 85px;
  }

  .grid section p {
    margin-top: 20px;
  }

  .grid.two-col {
    grid-template-columns: auto auto;
  }

  .grid.three-col {
    grid-template-columns: auto auto auto;
  }

  .grid.single-centered {
    grid-template-columns: auto;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .grid.two-thirds-centered {
    grid-template-columns: auto auto;
    width: 66%;
    margin-right: auto;
    margin-left: auto;
  }

  .grid .two-col *:first-child {
    justify-self: end;
  }
  .grid .two-col *:last-child {
    justify-self: start;
  }

  .grid .full {
    max-height: none;
    max-width: 100%;
  }

  .img-mb {
    margin-bottom: 12px !important;
  }

  .img-mt {
    margin-top: 16px !important;
  }
}
@media(min-width: 1220px) {
  header nav {
    width: 1200px;
  }
}