/* @import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

@font-face {
    font-family: "andale_monoregular";
    src: url("../assets/fonts/andale_mono-webfont.woff2") format("woff2"),
        url("../assets/fonts/andale_mono-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
} */

:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
}
