header {
  position: sticky;
  top: 0px;
}

.home-row {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

    img {
        margin-bottom: 15px;
    }
}

.slide-counter {
  align-self: flex-end;
}

.carousel {
  .embed-responsive,
  &__imageholder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $background-carousel;
    max-height: calc(100vh - 56px);

    &:before {
      padding-top: 100%;
      content: "";
	    display: block;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    width: 50%;
  }

  .carousel-control-prev {
    cursor: url(../assets/icons/sideCursorW.png), w-resize;
  }
  .carousel-control-next {
    cursor: url(../assets/icons/sideCursorE.png), e-resize;
  }
}

.about-section {
  padding-top: 90px;
}

@media (max-width: 768px){
  .carousel-control-prev, .carousel-control-next {
    height: 60%;
  }
}