@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700&subset=devanagari');
//@import url("https://use.typekit.net/whm1woo.css");

@font-face {
  font-family: 'andale_monoregular';
  src: url('../assets/fonts/andale_mono-webfont.woff2') format('woff2'),
       url('../assets/fonts/andale_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

header {
  font-family:  Khand,Courier,Monaco,monospace;
  font-size:    50px;
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  // span[class*="-english"]{
  //   font-family: 'andale_monoregular',Lucida Console,Courier,Monaco,monospace;
  // }

}

body {
  font-family:  'andale_monoregular',Lucida Console,Courier,Monaco,monospace;
  font-size:    13px;
}

// .about-section {
//   font-family: "aktiv-grotesk",sans-serif;
//   font-weight: 300;
//   font-size: 15px;
//   line-height: 23px;
// }


a,
a:hover,
a:focus,
a:active {
  color:            $text-main;
  text-decoration:  underline;
}

.slide-counter {
  text-align: right;
}