body {
  font-family: Andale Mono,Lucida Console,Courier,Monaco,monospace;
  font-size: 13px;
}

header {
  position: fixed;
  padding: 30px 0px;
  width: 100%;
  background-color: white;
  z-index: 100;
}

header p {
  margin-bottom: 4px;
}

a,
a:hover,
a:focus,
a:active {
  color: #333;
  text-decoration: underline;
}

section {
  margin-top: 140px;
}

.row img {
  max-width: 100%;
  margin-bottom: 30px;
}

img.img-border {
  border: 1px solid #D3D3D3;
}

img.img-shadow {
  box-shadow: #808080 1px 2px 8px;
}

img.type-cover {
  max-width: 50%;
}

.embed-responsive {
  margin-bottom: 30px;
}

#about h6 {
  font-size: 14px;
}

footer {
  text-transform: lowercase;
  margin-top: 20px;
}

/********** MEDIA QUERIES **********/

@media (max-width: 768px) {
  body, #about h6 {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  img.type-cover {
      float: right;
  }
}

@media (max-width: 992px) {
  body, #about h6 {
    font-size: 12px;
  }

  section {
    margin-top: 260px;
  }
}

@media (min-width: 992px) {
  .project-text {
    position: fixed;
  }
}

@media (max-width: 1200px) {
  body, #about h6 {
    font-size: 13px;
  }
}
