$pink1: rgba(228, 124, 161, 1);
$pink2: rgba(228, 124, 161, 0);
$green1: rgba(79, 177, 147, 1);
$green2: rgba(79, 177, 147, 0);

$blue1: rgba(113, 214, 237, 1);
$blue2: rgba(113, 214, 237, 0);

$purple1: rgba(155, 105, 198, 1);
$purple2: rgba(155, 105, 198, 0);

$navy1: rgba(89, 104, 214, 1);
$navy2: rgba(89, 104, 214, 0);

$yellow1: rgba(224, 221, 51, 1);
$yellow2: rgba(224, 221, 51, 0);

$orange1: rgba(216, 155, 62, 1);
$orange2: rgba(216, 155, 62, 0);

$red1: rgba(211, 102, 80, 1);
$red2: rgba(211, 102, 80, 0);