@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700&subset=devanagari');

header {
  font-family:  Khand,Courier,Monaco,monospace;
  font-size:    32px;
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
}

body {
  font-family:  Andale Mono,Lucida Console,Courier,Monaco,monospace;
  font-size:    9px;
}

a,
a:hover,
a:focus,
a:active {
  color:            $text-main;
  text-decoration:  underline;
}