<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <div class="gradient1 gradient1--left"></div>
    <div class="gradient1 gradient1--right"></div>
    <div class="gradient2 gradient2--left"></div>
    <div class="gradient2 gradient2--right"></div> -->
    {% include header.html %}
    <div class="container">
        <section>
            <div class="row">
            <div class="col-xs-12 col-md-3 project-text">
                <p>{{ page.title }}</p>
                <p>
                    {% for category in page.categories %}
                        {{ category }}&nbsp;
                    {% endfor %}
                </p>
                <p>{{ page.description }}</p>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-4">
                {{ content }}
            </div>
            </div>
        </section>
    </div>
          
    {% include footer.html %}
</body>

</html>
